#toolbar{
    position: fixed; 
    bottom: 0px;
    left: 0px;
    width: 100%;
    color:blueviolet; 
    text-align: center;
}
.spanS{
    display: flex;
    flex-direction: row;
    font-size: 14px;
}
#container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 6vh;
    font-size: 14px;
}