<mat-divider style="margin: 10px;"></mat-divider>
<div>
    Root: {{ myCount }}
    <app-tool-counter
        [count]="myCount"
        (change)="countChange($event)">
    </app-tool-counter>
</div>

<mat-divider style="margin: 10px;"></mat-divider>
<p>Open Console to check result:</p>
<button mat-button color="primary" (click)="subjectBtn()">Subject</button>
<button mat-button color="primary" (click)="behaviorSubjectBtn()">Behavior Subject</button>
<button mat-button color="primary" (click)="replaySubjectBtn()">Replay Subject</button>
<button mat-button color="primary" (click)="asyncSubjectBtn()">Async Subject</button>
<button mat-button color="primary" (click)="unsubscribe()">Unsubscribe All</button>

<mat-divider style="margin: 10px;"></mat-divider>